@font-face {
    font-family: 'Polin1';
    src: url('/Font/Fontspring-DEMO-polin-regular.otf');
    
}
@font-face {
    font-family: 'Polin2';
    src: url('/Font/Fontspring-DEMO-polin-light.otf');
    
}
@font-face {
    font-family: 'Polin3';
    src: url('/Font/Fontspring-DEMO-polin-bold.otf');
    
}
@font-face {
    font-family: 'Polin4';
    src: url('/Font/Fontspring-DEMO-polin-medium.otf');
    
}
@font-face {
    font-family: 'Polin5';
    src: url('/Font/Fontspring-DEMO-polin-thin.otf');
    
}



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgba(250, 235, 215, 0.137);
}

nav{
    /* background-color: beige; */
    max-width: 1750px ;
    margin: 0 auto;
    height: 65px;
    margin-top: 25px;
    border: 1px solid red;
}

ul{
    list-style-type: none;
    margin: 0px 10px 0px 10px;
}
li{
    display: inline;
}

li a{
    margin: 0 16px 0 16px;
    text-decoration: none;
    color: black;
    font-family: 'Polin4';
    font-size: 14px;
}

h1 p{
    margin-left: 20px;
    font-size: 30px;
    font-family: 'Polin3';
    
}
nav button{
    margin-right: 20px;
}
.container{
    display: flex;
    justify-content: flex-start;
    border: 1px solid rebeccapurple;
    width:93%;
    margin: 0 auto;
    height: 51.3rem;
    position: relative;

}
.arrowimg{
    position: absolute;
    left: 35%;
    top: 5%;
    width: 500px;
    height: 500px;
}

.footer{
    width: 225px;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    right: 43%;
    bottom: 5%;
}
.foot1{
    width: 100px;
}

.p1{
    font-family: 'Polin4';
    font-size: 24px;
}
.p2{
    font-family: 'Polin4';
    font-size: 13px;
    line-height: 18px;
    text-decoration: underline;
}
.f1{
    display: flex;
    width: 50%;
    height: 90%;
    
    justify-content: space-evenly;
    align-items: flex-start;
    flex-direction: column;
    
}

.first{
    position: relative;
    height: 55%;
    justify-content: end;
    vertical-align:bottom;
}
.slider{
    display: flex;
    justify-content: space-around;
    gap: 19px;
    align-items: center;
    border: 1px solid black;
    border-radius: 50px;
    width: 190px;
    height: 90px;
    position: absolute;
    top: 40%;
    right: 7%;
}
.slider img{
    margin-left: 19px;
    width: 50px;
    height: 50px;
}
.circle{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75px;
    height: 75px;
    background-color: black;
    border-radius: 100px;
    

}
.innercircle{
    width: 30px;
    height: 30px;
    background-color: rgb(255, 255, 255);
    border-radius: 100px;
    
}


.maintext{
    font-family: 'Polin3';
    margin-left: 40px;
    margin-top: 30px;
    font-size: 8rem;
    line-height: 120px;
}
.second{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:center ;
}
.elem2{
    margin-right: 30px;
    background-color: rgb(145, 105, 54);
    height: 13.5vh;
    width: 10vh;
    border-radius: 100px;
    
}
#text2{
    width: 30vw;
    margin-right: 50px;
    justify-self: start;
}
.text2{
    font-family: 'Polin4';
    font-size: 18px;
    line-height: 25px;
}
.third{
    
    display: flex;
    width: 46.5vw;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    margin-right: 80px;
    position: relative;
    
}
.elem3{
    width: 24vw ;
    height: 70vh ;
    margin-bottom: 50px;
    background-color: rgb(145, 105, 54);
    border-radius: 300px;
}
.elem4{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 130px;
    width: 130px;
    position: absolute;
    top: 38%;
    right: 45%;
}
.e1{
    height: 130px;
    width: 130px;
    border-radius: 100%;
    background-color: black;
    position: absolute;
    
}

.e2{
    height: 55px;
    width: 55px;
    border-radius: 100%;
    background-color: rgb(255, 255, 255);
    position: absolute;
}

.img1{
    width: 125px;
    height: 125px;
    z-index: 1;
    margin-right: 4px;
    margin-top: 7px;
}
.img2{
    position: absolute;
    fill: black;
    z-index: 3;
    
}

.navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn{
    font-family: 'Polin1';
    text-align:center;
    padding-top: 2px;
    background-color:unset;
    border: 1px solid black;
    border-radius: 40px;
    width: 130px;
    height: 48px;
}




@media (max-width: 1700px ) {
    nav{
        max-width: 1570px;
    }
    .arrowimg{
        left: 38%;
        top: 13%;
        width: 400px;
        height: 400px;
    }
}
@media (max-width: 1440px ) {
    nav{
        max-width: 1310px;
    }
    .arrowimg{
        left: 40%;
        top: 19%;
        width: 300px;
        height: 300px;
    }
    .maintext{
        font-size: 7rem;
        line-height: 120px;
    }
    .slider{
        top: 43%;
        right: 7%;
        width: 170px;
        height: 70px;
    }
    .slider img{
        margin-left: 38px;
        width: 30px;
        height: 30px;
    }
    .circle{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 62px;
        height: 62px;
        background-color: black;
        border-radius: 100px;
        
    
    }
    .innercircle{
        width: 25px;
        height: 25px;
        background-color: rgb(255, 255, 255);
        border-radius: 100px;
        
    }
}
@media (max-width: 1024px ) {
    nav{
        max-width: 894px;
    }
    h1 p{
        font-size: 27px;
    }
    li a{
        margin: 0 13px 0 13px;
        font-size: 10px;
    }   
}
@media (max-width: 768px ) {
    nav{
        max-width: 638px;
    }
    h1 p{
        font-size: 24px;
    }
    li a{
        margin: 0 10px 0 10px;
        font-size: 8px;
    }
}